@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  font-family: 'Raleway', sans-serif;
}
.custom-img{
  background-image: url(https://images.unsplash.com/photo-1510935813936-763eb6fbc613?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1178&q=80);
}


